/* style sheet  */
.centered {
    text-align: center;
  }


.top-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.site-name {font-size: 20px; font-weight: bold;}


.site-nav {display: flex; justify-content:  space-between; width: 20%; 
color: white; 
}
.site-nav a{ text-decoration: underline; color: #a0c4ff; font-size: 16px;}
.site-nav a:hover {color:aqua !important; text-decoration: underline !important;}
.site-nav a:visited {color:#B39DDB; text-decoration:underline;}

@media (max-width: 825px) {
    .site-nav{
        flex-direction: column;
    }
    
}
.footer-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    
}
.footer-link {
    text-decoration:underline;
    color: #a0c4ff;
    font-size: 16px;
    padding: 0 100px;
    

}
.footer-link:hover {color: aqua; text-decoration: underline;}

@media (max-height: 825px) {
    .footer-bar{
        display: flex;
    }
    
}


html, body {
    font-family: "Trirong", serif;
    margin: 0;
    padding: 0;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

.topmargins{margin-top: 20px;}
.bottommargins{margin-bottom:20px;}
.extrabottommargins{margin-bottom:40px}
.extratopmargins{margin-top:40px}



.size-increase{font-size: 16; padding: 12px 20px;}


main{flex-grow: 1;  display: flex;
    flex-direction: column;
align-items: center;
background-color:azure; }

.task-create{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16; padding: 6px 20px;
    justify-content: center;
    flex-direction: column;
}
.task-item{
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 16; padding: 6px 20px;
    border:2px solid #333; 
    box-sizing: border-box;
    background-color: #FFB3B2;
    width:fit-content;
    margin-top: 5px;
}
.leaderboard-entry{

    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 16; padding: 12px 20px;
    border:2px solid #333; 
    box-sizing: border-box;
    background-color: #a0c4ff;
    width:fit-content;
    margin-top: 10px;
}

.leaderboard-entry-current-user{

    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 16; padding: 12px 20px;
    border:2px solid #333; 
    box-sizing: border-box;
    background-color: #a0c4ff;
    width:fit-content;
    margin-top: 100px;
}

.fancy-text{
    color: #333;
    margin-top:30px;
    background-color: #a0c4ff;
    text-align: center;
    width:720px;

}


.less-spacing{margin:0;padding: 0;}


.fullpage {
    display: flex;
    flex-direction: column; 
    height: 100vh;  
  }

.checkboxTask{
    width: 18px;
    height: 18px;
}
  .completedTask {
    background-color: #e6ffe3 !important;
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 16; padding: 6px 20px;
    border:2px solid #333; 
    box-sizing: border-box;

    width:fit-content;
    margin-top: 5px;
  }

  .reduceTextSizeAndRoundedBorders {
    font-size: 10px;
    border-radius: 8px;
  }
  .coolColoredButtons{
    background-color: #333;
    color:white;

  }
  .coolColoredButtons:hover{
    background-color: black !important;
  }

.somePaddingOnTheSides{
    margin-left: 10px;
    margin-right: 10px;
}
.lessPaddingOnTheSides{
    margin-left: 5px;
    margin-right: 5px;
}